name : test-action 

on:
  workflow_dispatch:
  
jobs:
  build:
    name: test udclient cli  
    runs-on: ubuntu-latest   
    steps:
     - name: call udclient
       uses: seilorjr/udclient-action@main
       with:
        command: -jar udclient.jar
           
